<script src="{{url_for('static', filename='js/colores.js')}}"></script>
		<div class="row p-3 justify-content-center">
			<div class="col p-2">
				<button id="btnRed"
								class="btn btn-outline-secondary"
								style="color:red">
					Rojo
				</button>
			</div>
			<div class="col p-2">
				<button id="btnYellow"
								class="btn btn-outline-secondary"
								style="color:yellow">
					Amarillo
				</button>
			</div>
			<div class="col p-2">
				<button id="btnBlue"
								class="btn btn-outline-secondary"
								style="color:blue">
					Azul
				</button>
			</div>
		</div>
		<div class="row" id="config-color">
			<div id="rangos" class="col">

			</div>
		</div>
	</body>
</html>

